.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #58af4f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home-page{
  background-color: #58af4f;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  padding: 18px 30px;
  background-color: #1f9c47;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #1b7749;
}

.start-content {
  padding-top: 80px;
}

.consent-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(140, 200, 140, 0.95);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.consent-box {
  background-color: white;
  padding: 30px;
  max-width: 400px;
  border: 1px solid #555;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-size: 18px;
  color: #444;
  position: relative;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.3);
}

.close-button {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.question-page {
  background: linear-gradient(#8fcf88, #7fbf78);
  min-height: 100vh;
  padding: 40px;
  color: white;
  text-align: center;
}

.question {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.option {
  margin-bottom: 15px;
  font-size: 18px;
  color: #444;
  display: flex;
  align-items: center;
}

.option input {
  margin-right: 10px;
  transform: scale(1.4);
}
